### App environment ###
var/cache/dev/
env.test.yaml
### END ###

### dependencies ###
vendor/
composer.lock
### END ###

### nodejs ###
node_modules
package-lock.json
### END ###

### phpdotenv/phpdotenv ###
.env
### END ###

### squizlabs/php_codesniffer ###
phpcs.xml
### END ###

### phpunit/phpunit ###
phpunit.xml
.phpunit.result.cache
### END ###

### phpstan ###
phpstan.neon
### END ###
