<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
    <link rel="stylesheet" href="http://localhost:8000/build/app.css" type="text/css" media="all" />
    {% endblock %}
    <title>{% block title %}Site title{% endblock %}</title>
</head>
<body>
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
</body>
</html>